@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')

// Color from https://github.com/arcticicestudio/nord
body
  background-color: #5E81AC
  color: #FFFFFF
  font-family: 'Source Sans Pro', sans-serif

  align-items: center
  display: flex
  height: 100vh
  justify-content: center
  width: 100vw

.container
  text-align: center
