<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{description}}">
  <meta name="autor" content="{{autor}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>

  <link rel="stylesheet" type="text/css" href="styles.css"></link>
</head>

<body>
  {{content}}
</body>

</html>
