<div class="video-section">
  <div class="video-container">
    <div class="video-placeholder" />
      <iframe
         class="frame"
         src={video}
         frameBorder="0"
         allowFullScreen
         />
    </div>
  </div>
</div>
