<div class="organistion-header">
  <div class="teaser" style="background-image: url('{{teaser.image}}')">
    <div class="copyright">{{teaser.copyright}}</div>
  </div>
  <div class="summary">
    <div class="left">
      <img class="organisation-logo" src="{{organisation.logo}}" />
    </div>
    <div class="center">%ORGANISATION_SLOGAN%</div>
    <div class="right">
      Countdown
    </div>
  </div>
</div>
