@import './node_modules/@picter/elements/src/core/theme'

body
  margin: 0

@include picter-fonts
@include picter-headlines-theme($theme)

h1
  text-align: center

p,
ul,
ol
  @include picter-copytext

.button
  @include picter-button-theme($theme)

.container
  margin: 80px auto
  max-width: 700px

.winner-section
  background-color: $black
  padding: 110px
  text-align: center

  &,
  h1,
  h2
    color: $white

  .winner-item
    &:not(:last-child)
      margin-bottom: 110px

    .images
      display: flex
      justify-content: center

      img
        max-width: 100%

      .winner-image
        flex-grow: 1
        flex-shrink: 1
        margin: 30px 20px 0
