@import './node_modules/@picter/elements/src/core/theme'

body
  margin: 0

@include picter-fonts
@include picter-headlines-theme($theme)

h1
  text-align: center

p,
ul,
ol
  @include picter-copytext

.button
  @include picter-button-theme($theme)

.container
  margin: 80px auto
  max-width: 700px

.organistion-header
  .teaser
    background-position: center
    background-size: cover
    height: calc(100vh - 50px)
    position: relative

    .copyright
      @include default-font()
      color: $white
      bottom: 5px
      position: absolute
      right: 5px

  .summary
    @include default-font()
    background-color: $black
    color: $white
    display: flex
    font-size: 24px
    justify-content: center
    line-height: 36px
    min-height: 280px
    text-align: center

    .organisation-logo
      max-height: 175px
      max-width: 175px

    .left,
    .right
      flex-basis: 400px
      flex-grow: 1

    .center
      flex-grow: 2

    .left,
    .center,
    .right
      align-items: center
      display: flex
      justify-content: center
      padding: 40px

.winner-section
  background-color: $black
  padding: 110px
  text-align: center

  &,
  h1,
  h2
    color: $white

  h2
    margin: 0

  .caption,
  .image-title
    @include default-font
    color: $white

  .winner-item
    &:not(:last-child)
      margin-bottom: 110px

    .images
      display: flex
      justify-content: center

      img
        max-width: 100%

      .winner-image
        flex-grow: 1
        flex-shrink: 1
        margin: 30px 20px 0

.timeline
  text-align: center

  .timeline-item
    @include default-font
    margin-bottom: 20px
    font-size: 14px

    .date
      color: #7e7e7e
